node_modules
.pnpm-store
.turbo
apps/desktop/.turbo
apps/desktop/out
packages/types/dist
apps/api/dist
data/*.local.json
apps/api/data/*.local.json
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production
.env.local
.env.development.local
.env.test.local
.env.production.local
